.changed-the-bat-upside-down {
  height: 17.7%;
}

.mtck-the-bat-upside-down_1 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 43.8%;
  left: 10.5%;
}
.mtck-the-bat-upside-down_2 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 43.8%;
  left: 25.8%;
}
.mtck-the-bat-upside-down_3 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 43.8%;
  left: 41.2%;
}
.mtck-the-bat-upside-down_4 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 43.8%;
  left: 57%;
}
.mtck-the-bat-upside-down_5 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 43.8%;
  left: 72%;
}
.mtck-the-bat-upside-down_6 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 43.8%;
  left: 87.8%;
}
.mtck-the-bat-upside-down_7 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 31.5%;
  left: 41.5%;
}
.mtck-the-bat-upside-down_8 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 31.5%;
  left: 57%;
}
.mtck-the-bat-upside-down_9 {
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  top: 55.8%;
  left: 41.5%;
}
.mtck-the-bat-upside-down_10 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: 55.8%;
  left: 56.8%;
}
