.mtck-turn-the-fish_1 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 18.5%;
  left: 48.7%;
}
.mtck-turn-the-fish_2 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 31.3%;
  left: 21%;
}
.mtck-turn-the-fish_3 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 43.9%;
  left: 21%;
}
.mtck-turn-the-fish_4 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 56.6%;
  left: 48.5%;
}
.mtck-turn-the-fish_5 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 31.3%;
  left: 48.3%;
}
.mtck-turn-the-fish_6 {
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);

  top: 43.9%;
  left: 76%;
}
.mtck-turn-the-fish_7 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 43.8%;
  left: 48.3%;
}
.mtck-turn-the-fish_8 {
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

  top: 31%;
  left: 76%;
}
