.mtck-two-triangles_1 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 48.2%;
  left: 24.6%;
}
.mtck-two-triangles_2 {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);

  top: 26.3%;
  left: 40.6%;
}
.mtck-two-triangles_3 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 26.3%;
  left: 56.9%;
}
.mtck-two-triangles_4 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 48.2%;
  left: 72.9%;
}
.mtck-two-triangles_5 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 59.6%;
  left: 64.9%;
}
.mtck-two-triangles_6 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 59.6%;
  left: 32.7%;
}
.mtck-two-triangles_7 {
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);

  top: 48.2%;
  left: 41%;
}
